

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	padding-top: 4%;
	padding-bottom: 10%;
	color: #2B0F0E;	
	background-color: #1f1f1f;

	font-family: 'Merriweather Sans', sans-serif;
	font-family: 'Righteous', cursive;
	background-image: url('../img/bg-2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.container {
	background-color: #fafafa;
}

.box-shadow-1 {
	box-shadow: 0 0px 2px 30px #2B0F0E;
}

.box-shadow-2 {
	box-shadow: 0 30px 2px 30px #2B0F0E;
}
.navigation-wrapper {
  background-color: #fafafa;
  border-color: #e7e7e7;
}



/*==================CUSTOM HELPER CLASSES ==================*/

a {
	color: #d4b588;
}

.block {
	display: block;
}

.padding-top-1 {
	padding-top: 1rem;
}

.padding-top-2 {
	padding-top: 2rem;
}

.padding-top-3 {
	padding-top: 3rem;
}

.padding-bottom-1 {
	padding-bottom: 1rem;
}	

.padding-bottom-2 {
	padding-bottom: 2rem;
}	

.padding-bottom-3 {
	padding-bottom: 3rem;
}

.margin-top-3 {
	margin-top: 3rem;
}
.font-normal {
	font-weight: normal;
}

.font-Merriweather {
	font-family: 'Merriweather Sans', sans-serif;
}

.top-shadow {
	box-shadow: inset 0 2px 2px 0px #3e2723;
}

.coffee-icons {
	height: 35px;
	width: 35px;
}

.bg-brown {
	background-color: #2B0F0E;
	color: #fff;
}







/*CUSTOM STYLES */


.logo-link {
	padding: 5px 15px 15px 15px;
}

.logo {


}

.btn-custom {
	background-color: #fff;

}

.nav>li>a {
	color: #3e2723;
}
.custom-nav li {
	background-image: url('../img/nav.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 1em 0;
}

.carousel {
padding-top: 2.5rem;
padding-bottom: 2.5rem;

}

.coffee-img {
	width: 200px;
	height: 200px;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
  color: #121212;
}

.carousel-indicators {
	bottom: -10px;
}


.carousel-indicators li {
	background-color: #333;

}

.coffee-img {
	margin-top: 1rem;
}

.coffee-bg {
	background-image: url("../img/bg-2.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	min-height: 250px;
}

.coffee-gallery-1 {
	background-image: url("../img/gallery-1.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	min-height: 150px;
}

.coffee-gallery-2 {
	background-image: url("../img/gallery-2.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	min-height: 150px;
}
.coffee-gallery-3 {
	background-image: url("../img/gallery-33.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	min-height: 150px;
}
.coffee-gallery-4 {
	background-image: url("../img/gallery-4.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	min-height: 150px;
}
.coffee-gallery-5 {
	background-image: url("../img/gallery-5.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	min-height: 150px;
}

.coffee-gallery-6 {
	background-image: url("../img/gallery-6.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	min-height: 150px;
}


.fa {
	color: #fff;
}

.footer-icons li {
	margin: auto .5rem;
}







@media screen and (min-width: 768px) {


	.custom-padding {
		padding-top: 0;
	}


	.mobile-display {
		display: none;
	}

	.fa {
	color: #fff;
	zoom: 1.75;
}

	.row-eq-height {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	}



	.nav-container { 
			padding: 3em 2em 0 2em;
	
	 }

	.logo-link {
		padding: 0;
	}



	.custom-nav {
		background-image: url('../img/nav.png');
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	.custom-nav li {
		background: none;
		border-right: 1px solid #ccc;
		text-align: center;
		width: 8em;
		margin: 0;
	}


	.custom-nav li:nth-child(n + 5) {
		border-right: none;
	}

	.custom-nav a {
		color: #212121;
		background-color: none;
	}

	.nav-tabs {
		border-bottom: none;

	}

	.coffee-img {
	padding-top: 0;
}

}

@media screen and (min-width: 992px) {


 .carousel-row {
 	padding-top: 7.5vh;
 	padding-bottom: 7.5vh;
 }


 .gallery {
 	 min-height: 250px;
 }
 
 .custom-padding {
 	 padding-top: 3rem;
 }

}


@media screen and (min-width: 1200px) {

	.logo {
		width: 125%;
		margin-top: -12.5%;
	}


	.coffee-bg {
		min-height: 350px;
	}

	.padding-center {
		padding-top: 6.25%;s
	}

	.custom-padding {
	padding-top: 3rem;
}

}





/*================NAVIGATION================*/



/*================MAIN================*/




/*================FOOTER================*/





/*================HELPER-CLASSES================*/















